* {
    box-sizing: border-box;
}

.box {
    width: 100px;
    height: 100px;
    color: white;
    background-color: blueviolet;
    /* animation: color-change 1s linear .6s forwards infinite alternate,
        size-change 1s linear .6s forwards infinite alternate; */
    animation-name: color-change, size-change, custom;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;   
    animation-timing-function: linear;
}

.box:hover {
    /* animation: color-change 1s linear .6s both;
    animation: color-change 1s linear .6s backwards; */
    /* animation: color-change 1s linear .6s forwards 4 alternate; */
    /* animation: color-change 1s linear .6s forwards infinite; */
    /* animation: color-change 1s linear .6s forwards infinite alternate; */
    animation-play-state: paused;
}

@keyframes color-change {
    to {
        background-color: rgb(56, 149, 56);
    }
}

@keyframes size-change {
    to {
        width: 200px;
        height: 200px;
        font-size: 32px;
    }
}

@keyframes custom {
    from  {
        font-size: 1rem;
    }

    25%{ 
        font-size: 2rem;
    }

    50% {
        font-size: 3rem;
    }

    75% {
        font-size: 2rem;
    }

    to {
        font-size: 1rem;
    }
}