/*
!important > inline-style > id > class > tag
*/
 
/*0, 1, 0, 0 */
#header-id {
    color: green;
}

.header {
    /*1, 0, 1, 0 */
    /* color: red !important; */
    /*0, 0, 1, 0 */
    color: red;
}

/*0, 0, 0, 1 */
h2 {
    color: cyan;
}