* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

ul, ol {
    padding: 1rem;
}

.green-section {
    background-color: green;
    color: white;
}

.section-title {
    font-family: Arial, Helvetica, sans-serif;
}

.cyan {
    color: cyan;
}

.cross-off {
    text-decoration: line-through;
}